Ask you coach anything:
<form action="/">
  <input type="text" name="user_question">
  <input type="submit" value="send" class="button">
</form>

<% if @user_question %>
  <%= render partial: "answer" %>
<% end %>
