// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 60vw;
  margin: 0 auto;
}

form {
  display:flex;
  flex-direction:row;
  height: 35px;
  border: 1px solid #D9D9D9;
  border-radius: 7px;
  width: 50%;
  padding: 0;
}

input {
  flex-grow: 1;
  padding-left: 5px;
  border: none;
  font-size: 1em;
  font-weight: lighter;
  border-radius: inherit;
  &:focus {
    outline: none;
    background-color: transparent;
  }
}

/*input:focus {
  outline: none;
  background-color: transparent;
}*/

.button {
  border:1px solid #337AB7;
  background: #337AB7;
  color: white;
  font-weight: bold;
  width: 70px;
  flex-grow: 0;
  border-radius: inherit;
}

.box {
  border-left: 10px solid #dddddd;
  margin-top: 15px;
  padding: 1px 10px;

  p {
    padding-top: 5px;
    margin-top: 10px;
  }
}

/*.box p {
  padding-top: 5px;
  margin-top: 10px;
}*/

.answer {
  background-color: #FFFEE1;
}

.ask-new {
  margin-top: 15px;
  a {
    text-decoration: none;
  }
}
